[Desktop Entry]
Type=Application
Name=Pear Passwords
Comment=Your passwords on iCloud
Exec=/usr/local/lib/pear-passwords/libexec/pear-exec ui
Icon=/usr/local/lib/pear-passwords/app/icon.svg
Terminal=false
Categories=Utility;Security;
Keywords=password;passwords;icloud;login;credentials;2fa;pear;
